<md-grid-list class="grid" cols="3" rows="10" rowHeight="55px">
    <md-grid-tile>
        <md-input-container>
            <input mdInput type="text" placeholder="Enter address" [(ngModel)]="newAddress" (keyup.enter)="addAddress()">
        </md-input-container>
    </md-grid-tile>
    <md-grid-tile colspan="2" rowspan="10">
        <md-card class="map">
            <md-card-content>
                <div>Map</div>
            </md-card-content>
        </md-card>
    </md-grid-tile>
    <md-grid-tile rowspan="9">
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>1</li>
            <li>2</li>
            <li>3</li>
        </ul>
        <!--<md-grid-list cols="1" rows="9" rowHeight="55px" [dragula]="'bag-one'" [dragulaModel]="addressArr">
            <md-grid-tile class="mat-elevation-z1" *ngFor="let item of addressArr">
                {{item}}
            </md-grid-tile>
        </md-grid-list>-->
        <!--<md-grid-tile class="mat-elevation-z1" *ngFor="let item of addressArr">
            {{item}}
        </md-grid-tile>-->
    </md-grid-tile>
</md-grid-list>