<div class="input">
    <md-input-container>
        <input mdInput type="text" placeholder="Enter address" [(ngModel)]="newAddress" (keyup.enter)="addAddress()">
    </md-input-container>
    <ul [dragula]='"one-bag"' [dragulaModel]='addressArr'>
        <li *ngFor='let item of addressArr; let i = index' class="mat-elevation-z2">
            <span class="address">{{item}}</span>
            <i class="material-icons" (click)="delAddress(i)">delete</i>
        </li>
    </ul>
</div>
<sebm-google-map [latitude]="lat" [longitude]="lon">
    <sebm-google-map-marker [latitude]="lat" [longitude]="lon" title="marker1" label="A">
        <sebm-google-map-info-window>
            My Content<br />
            can be HTML
        </sebm-google-map-info-window>
    </sebm-google-map-marker>
</sebm-google-map>

